<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Game</title>
</head>

<body>
    <h1>Add New Game here!</h1>
    <form action="/games/add" method="POST">
        <label for="name">Name</label><br>
        <input type="text" name="name" id="name"><br><br>
        <label for="price">Price</label><br>
        <input type="text" name="price" id="price"><br><br>
        <label for="image_location">image_location</label><br>
        <input type="text" name="image_location" id="image_location"><br><br>
        <button type="submit">Add Game</button>
    </form>
</body>

</html>