<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOP UP</title>
</head>

<body>

    <h1>TOP UP</h1>
    <form action="/topup/<%= user.id %>" method="POST">
        <label for="money">Amount</label>
        <input type="number" name="money" id="money">
        <button type="submit">TOP UP</button>
    </form>

</body>

</html>